#!/bin/bash
TERRAFORM_EXEC="./.bin.db/terraform"
$TERRAFORM_EXEC init
$TERRAFORM_EXEC apply \
    -var "access_key=$ALICLOUD_ACCESS_KEY_ID" \
    -var "secret_key=$ALICLOUD_SECRET_ACCESS_KEY" \
    -var-file ".generated-password.tfvars"
if [ $? -eq 0 ]; then
    $TERRAFORM_EXEC output -json > apsara_db.json
    echo "SUCCESS" > TFAPPLYOUTPUT
else
    echo "FAILED" > TFAPPLYOUTPUT
fi
