export DEFAULT_STORE_PASS={{ secrets.default_keystore_pass }}
export AUTH_TOKEN={{ secrets.auth_token }}
export CA_SERVER_LOCAL={{ secrets.ca_server_local }}
export CA_SERVER_REMOTE={{ secrets.ca_server_remote }}