<?php
// HTTP
define('HTTP_SERVER', 'http://{{ '{{' }} host {{ '}}' }}:6101/admin/');
define('HTTP_CATALOG', 'http://{{ '{{' }} host {{ '}}' }}:6101/');

// HTTPS
define('HTTPS_SERVER', 'https://{{ '{{' }} host {{ '}}' }}:6101/admin/');
define('HTTPS_CATALOG', 'https://{{ '{{' }} host {{ '}}' }}:6101/');

// DIR
define('DIR_APPLICATION', '{{ build_directory }}/upload/admin/');
define('DIR_SYSTEM', '{{ build_directory }}/upload/system/');
define('DIR_DATABASE', '{{ build_directory }}/upload/system/database/');
define('DIR_LANGUAGE', '{{ build_directory }}/upload/admin/language/');
define('DIR_TEMPLATE', '{{ build_directory }}/upload/admin/view/template/');
define('DIR_CONFIG', '{{ build_directory }}/upload/system/config/');
define('DIR_IMAGE', '{{ build_directory }}/upload/image/');
define('DIR_CACHE', '{{ build_directory }}/upload/system/cache/');
define('DIR_DOWNLOAD', '{{ build_directory }}/upload/download/');
define('DIR_LOGS', '{{ build_directory }}/upload/system/logs/');
define('DIR_CATALOG', '{{ build_directory }}/upload/catalog/');

// DB
define('DB_DRIVER', 'mysqli');
define('DB_HOSTNAME', 'localhost');
define('DB_USERNAME', '{{ '{{' }} db_username {{ '}}' }}');
define('DB_PASSWORD', '{{ '{{' }} db_password {{ '}}' }}');
define('DB_DATABASE', 'opencartv1');
define('DB_PREFIX', 'oc_');
?>