set -e

export SERVICE_NAME="{{ service_name }}"
export ENVIRONMENT="{{ environment }}"
export BUILD_DIRECTORY="{{ build_directory }}"
export SERVICE_ARGS=({% for arg in args %} {{ '"%s"' | format(arg) }} {% endfor %})

source "{{ svctl_directory }}/sv/app/.helper/common"
source "{{ service_definition_script }}"

if type -t postbuild > /dev/null; then
  if [ ! -f "$BUILD_DIRECTORY/.postbuild" ]; then
    logger_error "Post build marker not found, run the postbuild script first"
    exit 1
  fi
fi

# Start the service
pushd "$BUILD_DIRECTORY"
run "$SERVICE_NAME" "$ENVIRONMENT" "$BUILD_DIRECTORY" "${SERVICE_ARGS[@]}"
popd
