variable "google_credentials_file" {}

variable "generated_password" {}

{% if tf.backend == "consul" %}
terraform {
  backend "consul" {
    address = "{{ tf.consul.host }}"
    path    = "{{ db_identifier_path }}"
  }
}
{% endif %}

{% if tf.backend == "etcdv3" %}
terraform {
  backend "etcdv3" {
    endpoints = [{% for etcd_address in tf.etcdv3.members %}"{{ etcd_address }}"{{ "," if not loop.last else "" }}{% endfor %}]
    lock      = true
    prefix    = "tf/{{ db_identifier_path }}/"
    {% if tf.etcdv3.tls.enabled -%}
    cacert_path = "{{ dbctl_tf_ca_cert_file }}"
    cert_path =  "{{ dbctl_tf_cert_file }}"
    key_path =  "{{ dbctl_tf_key_file }}"
    {% endif -%}
  }
}
{% endif %}

provider "google" {
  credentials = "${var.google_credentials_file}"
  project     = "{{ db.gcp.project_id }}"
  region      = "{{ db.gcp.region }}"
}

module "{{ db_identifier }}" {
    source = "./gcp"

    identifier = "{{ db_identifier }}"
    
    db_organization = "{{ organization }}"
    db_team = "{{ team }}"
    db_product = "{{ product }}"
    db_environment = "{{ db_environment }}"

    gcp_db_project_id = "{{ db.gcp.project_id }}"
    gcp_db_region = "{{ db.gcp.region }}"
    gcp_db_vpc = "{{ db.gcp.db_provider_vpc.name }}"
    gcp_db_vpc_subnet = "{{ db.gcp.db_provider_vpc.subnet }}"
    gcp_db_instance_tier = "{{ db.gcp.db_provider_instance.tier }}"
    gcp_db_instance_storage_size = "{{ db.gcp.db_provider_instance.storage_size }}"
    gcp_db_username = "{{ db_generated_user }}"
    gcp_db_password = "${var.generated_password}"
    gcp_db_database_name = "{{ db_name }}"
    gcp_db_database_version = "{{ db.gcp.db_provider_engine_version }}"
    gcp_db_authorized_network_address = [{% for v in db.gcp.db_provider_option.authorized_networks %}"{{ v.value }}"{{ "," if not loop.last else "" }}{% endfor %}]
    gcp_db_authorized_network_name = [{% for v in db.gcp.db_provider_option.authorized_networks %}"{{ v.name }}"{{ "," if not loop.last else "" }}{% endfor %}]
}

output "gcp_db_identifier" {
    value = "${module.{{ db_identifier }}.gcp_db_identifier}"
}

output "gcp_db_connection_name" {
    value = "${module.{{ db_identifier }}.gcp_db_connection_name}"
}

output "gcp_db_private_ip" {
    value = "${module.{{ db_identifier }}.gcp_db_private_ip}"
}

output "gcp_db_private_port" {
    value = "${module.{{ db_identifier }}.gcp_db_private_port}"
}

{% if db.gcp.db_provider_option.public_connection.enabled %}
output "gcp_db_public_ip" {
    value = "${module.{{ db_identifier }}.gcp_db_public_ip}"
}

output "gcp_db_public_port" {
    value = "${module.{{ db_identifier }}.gcp_db_public_port}"
}
{% endif %}

output "gcp_db_database_name" {
    value = "${module.{{ db_identifier }}.gcp_db_database_name}"
}

output "gcp_db_user" {
    value = "${module.{{ db_identifier }}.gcp_db_user}"
}

