#!/bin/bash
TERRAFORM_EXEC="./.bin.db/terraform"
$TERRAFORM_EXEC init
$TERRAFORM_EXEC apply \
    -var "google_credentials_file=$GOOGLE_CREDENTIALS_FILE" \
    -var-file ".generated-password.tfvars"
if [ $? -eq 0 ]; then
    $TERRAFORM_EXEC output -json > gcp_db.json
    echo "SUCCESS" > TFAPPLYOUTPUT
else
    echo "FAILED" > TFAPPLYOUTPUT
fi

