/node_modules
/.build
/.svctl_docker_mount
/.env.db

/cli/svctl
/cli/sv

/cli/pkictl
/cli/pki

/cli/.run.*/
/cli/.env.*/
/cli/.build.*/

# SVCTL
/.build
/.svctl_docker_mount
/cli/sv/
/cli/svctl

# PKICTL
/cli/pki/
/cli/pkictl

# COMPOSER
vendor/

# MERCHANT PLUGIN
/magento1/upload/
/opencartv1/upload/
/opencartv2/upload/
/opencartv2.3/upload/
/opencartv3/upload/
/prestashop/upload/
/woocommerce/upload/
/woocommercev4/upload/

# INDODANA COMMON
/packages/common/.coverage/
