<?php return array (
  'parameters' => 
  array (
    'database_host' => '127.0.0.1',
    'database_port' => '',
    'database_name' => 'prestashop',
    'database_user' => '{{ '{{' }} prestashop {{ '}}' }}',
    'database_password' => '{{ '{{' }} prestashop {{ '}}' }}',
    'database_prefix' => 'ps_',
    'database_engine' => 'InnoDB',
    'mailer_transport' => 'smtp',
    'mailer_host' => '127.0.0.1',
    'mailer_user' => NULL,
    'mailer_password' => NULL,
    'secret' => 'i44qqspAUdLs90ZsFjITKLyNgWcAGs85SuLHQceIw21ecZJPSKFL4z7q',
    'ps_caching' => 'CacheMemcache',
    'ps_cache_enable' => false,
    'ps_creation_date' => '2019-06-14',
    'locale' => 'en-US',
    'cookie_key' => '3W23THZUMJQGQRUOMVd3fMOeNBMjaTRYDFu4PIDUTObnE6Yg9EJCHXho',
    'cookie_iv' => '5oiuvtpU',
    'new_cookie_key' => 'def00000ca0226c946197615e251b6d42b1eb534ac1492311958570206b7de827955cdff3e0a8b0bc1c3b44940d09d7196be28830278f9c67af5f19f4b939522e8913201',
  ),
);
