variable "access_key" {}
variable "secret_key" {}

variable "region" {
  default = "ap-southeast-5"
}

variable "generated_password" {}

{% if tf.backend == "consul" %}
terraform {
  backend "consul" {
    address = "{{ tf.consul.host }}"
    path    = "{{ db_identifier_path }}"
  }
}
{% endif %}

{% if tf.backend == "etcdv3" %}
terraform {
  backend "etcdv3" {
    endpoints = [{% for etcd_address in tf.etcdv3.members %}"{{ etcd_address }}"{{ "," if not loop.last else "" }}{% endfor %}]
    lock      = true
    prefix    = "tf/{{ db_identifier_path }}/"
    {% if tf.etcdv3.tls.enabled -%}
    cacert_path = "{{ dbctl_tf_ca_cert_file }}"
    cert_path =  "{{ dbctl_tf_cert_file }}"
    key_path =  "{{ dbctl_tf_key_file }}"
    {% endif -%}
  }
}
{% endif %}

provider "alicloud" {
  access_key = "${var.access_key}"
  secret_key = "${var.secret_key}"
  region     = "{{ db.apsara.db_provider_region }}"
}

module "{{ db_identifier }}" {
    source = "./apsara"

    identifier = "{{ db_identifier }}"
    
    db_organization = "{{ organization }}"
    db_team = "{{ team }}"
    db_product = "{{ product }}"
    db_environment = "{{ db_environment }}"

    apsara_db_instance_id = "{{ db.apsara.db_provider_instance.id }}"
    apsara_db_instance_host = "{{ db.apsara.db_provider_instance.host }}"
    apsara_db_instance_port = "{{ db.apsara.db_provider_instance.port }}"
    apsara_db_instance_username = "{{ db_generated_user }}"
    apsara_db_instance_password = "${var.generated_password}"
    apsara_db_instance_database_name = "{{ db_name }}"
}

output "apsara_db_id" {
    value = "${module.{{ db_identifier }}.apsara_db_id}"
}

output "apsara_db_port" {
    value = "${module.{{ db_identifier }}.apsara_db_port}"
}

output "apsara_db_host" {
    value = "${module.{{ db_identifier }}.apsara_db_host}"
}

{% if db.apsara.db_provider_option.public_connection %}
output "apsara_db_public_host" {
    value = "${module.{{ db_identifier }}.apsara_db_public_host}"
}

output "apsara_db_public_port" {
    value = "${module.{{ db_identifier }}.apsara_db_public_port}"
}
{% endif %}


output "apsara_db_database_name" {
    value = "${module.{{ db_identifier }}.apsara_db_database_name}"
}

output "apsara_db_user" {
    value = "${module.{{ db_identifier }}.apsara_db_user}"
}
