#!/bin/bash
export PKICTL_CONTEXT={{ pkictl_context }}
export PKICTL_CONTEXT_LOGIN_METHOD={{ pkictl_login_method }}
export PKICTL_CONTEXT_HOST={{ pkictl_context_host }}
export PKICTL_CONTEXT_TLS_ENABLED={{ pkictl_context_tls_enabled }}
export PKICTL_CONTEXT_TLS_CACERT={{ pkictl_context_tls_cacert }}
export PKICTL_CONTEXT_TLS_CERT={{ pkictl_context_tls_cert }}
export PKICTL_CONTEXT_TLS_KEY={{ pkictl_context_tls_key }}
export PKICTL_CONTEXT_TOKEN={{ pkictl_context_token }}
export PKICTL_CONTEXT_TOKEN_DURATION={{ pkictl_context_token_duration }}
export PKICTL_CONTEXT_TOKEN_EXPIRATION={{ pkictl_context_token_expiration }}