variable "access_key" {}
variable "secret_key" {}

variable "region" {
  default = "ap-southeast-1"
}

data "aws_vpc" "vpc" {
  tags {
    Name = "{{ db.rds.db_provider_vpc.name }}"
  }
}

data "aws_subnet_ids" "subnet_data" {
  vpc_id = "${data.aws_vpc.vpc.id}"
  tags {
    Name = "{{ db.rds.db_provider_vpc.name }}-{{ db.rds.db_provider_vpc.subnet_prefix }}*"
  }
}

data "aws_subnet" "subnet_data" {
  count = "${length(data.aws_subnet_ids.subnet_data.ids)}"
  id = "${data.aws_subnet_ids.subnet_data.ids[count.index]}"
}

variable "generated_password" {}

{% if tf.backend == "consul" %}
terraform {
  backend "consul" {
    address = "{{ tf.consul.host }}"
    path    = "{{ db_identifier_path }}"
  }
}
{% endif %}

{% if tf.backend == "etcdv3" %}
terraform {
  backend "etcdv3" {
    endpoints = [{% for etcd_address in tf.etcdv3.members %}"{{ etcd_address }}"{{ "," if not loop.last else "" }}{% endfor %}]
    lock      = true
    prefix    = "tf/{{ db_identifier_path }}/"
    {% if tf.etcdv3.tls.enabled -%}
    cacert_path = "{{ dbctl_tf_ca_cert_file }}"
    cert_path =  "{{ dbctl_tf_cert_file }}"
    key_path =  "{{ dbctl_tf_key_file }}"
    {% endif -%}
  }
}
{% endif %}



provider "aws" {
  access_key = "${var.access_key}"
  secret_key = "${var.secret_key}"
  region     = "{{ db.rds.db_provider_region }}"
}

{% set v_identifier = db_identifier %}
{% set v_db_name = db_name %}
{% set v_db_username = db_generated_user %}

{% if db.rds.__import__ is defined %}
  {% set v_identifier = db.rds.__import__.identifier %}
  {% set v_db_name = db.rds.__import__.database %}
  {% set v_db_username = db.rds.__import__.username %}
{% endif %}

module "{{ db_identifier }}" {
    source = "./rds"

    identifier = "{{ v_identifier }}"
    
    db_organization = "{{ organization }}"
    db_team = "{{ team }}"
    db_product = "{{ product }}"
    db_environment = "{{ db_environment }}"

    vpc_id = "${data.aws_vpc.vpc.id}"
    vpc_name = "${data.aws_vpc.vpc.tags.Name}"
    vpc_subnet_ids = ["${data.aws_subnet.subnet_data.*.id}"]
    vpc_prefix = "${data.aws_vpc.vpc.tags.Prefix}"

    rds_db_instance_class = "{{ db.rds.db_provider_instance.class }}"
    rds_db_instance_engine = "{{ db.rds.db_provider_engine }}"
    rds_db_instance_engine_version = "{{ db.rds.db_provider_engine_version }}"
    rds_db_instance_username = "{{ v_db_username }}"
    rds_db_instance_password = "${var.generated_password}"
    rds_db_instance_storage_size = "{{ db.rds.db_provider_instance.storage_size }}"
    rds_db_instance_database_name = "{{ v_db_name }}"
}

output "rds_db_endpoint" {
  value = "${module.{{ db_identifier }}.rds_db_endpoint}"
}

output "rds_db_arn" {
  value = "${module.{{ db_identifier }}.rds_db_arn}"
}

output "rds_db_identifier" {
  value = "${module.{{ db_identifier }}.rds_db_identifier}"
}