#!/bin/bash
TERRAFORM_EXEC="./.bin.db/terraform"
$TERRAFORM_EXEC init

$TERRAFORM_EXEC state rm "module.{{ db_identifier }}.google_sql_database_instance.gcp_db_instance"
$TERRAFORM_EXEC import \
    -var "google_credentials_file=$GOOGLE_CREDENTIALS_FILE" \
    "module.{{ db_identifier }}.google_sql_database_instance.gcp_db_instance" \
        "{{ db.gcp.project_id }}/{{ db.gcp.db_provider_instance.name }}"

$TERRAFORM_EXEC state rm "module.{{ db_identifier }}.google_sql_user.gcp_db_user"
$TERRAFORM_EXEC import \
    -var "google_credentials_file=$GOOGLE_CREDENTIALS_FILE" \
    "module.{{ db_identifier }}.google_sql_user.gcp_db_user" \
        "{{ db.gcp.project_id }}/{{ db.gcp.db_provider_instance.name }}/{{ db_generated_user }}"

$TERRAFORM_EXEC apply \
    -var "google_credentials_file=$GOOGLE_CREDENTIALS_FILE" \
    -var-file ".generated-password.tfvars"

if [ $? -eq 0 ]; then
    $TERRAFORM_EXEC output -json > gcp_db.json
    echo "SUCCESS" > TFAPPLYOUTPUT
else
    echo "FAILED" > TFAPPLYOUTPUT
fi
