{% raw %}REVOKE ALL PRIVILEGES ON ALL TABLES IN SCHEMA public FROM \"{{name}}\";{% endraw %}
{% raw %}REVOKE CONNECT ON DATABASE{% endraw %} {{ item[1] }} {% raw %}FROM \"{{name}}\";{% endraw %}
{% raw %}REASSIGN OWNED BY \"{{name}}\" TO dbadmin;{% endraw %}
{% raw %}DROP ROLE IF EXISTS \"{{name}}\";{% endraw %}