{% raw %}CREATE ROLE \"{{name}}\" WITH LOGIN PASSWORD '{{password}}' VALID UNTIL '{{expiration}}';{% endraw %}
{% raw %}GRANT CONNECT ON DATABASE{% endraw %} {{ item[1] }} {% raw %}TO \"{{name}}\";{% endraw %}
{% raw %}GRANT SELECT ON ALL TABLES IN SCHEMA public TO \"{{name}}\";{% endraw %}