#!/bin/bash
JQ=./.bin.db/jq
export DB_ENDPOINT=$(cat rds_db.json | $JQ .rds_db_endpoint.value)
IFS=':' read -ra DB_ENDPOINT_COMPONENT <<< "$DB_ENDPOINT"
DB_HOST="${DB_ENDPOINT_COMPONENT[0]/\"/}"
DB_PORT="${DB_ENDPOINT_COMPONENT[1]/\"/}"
SECRET_STRING="{\"username\":\"{{ db_generated_user }}\",\"password\":\"{{ db_generated_password }}\",\"engine\":\"{{ db.rds.db_provider_engine }}\",\"host\":\"${DB_HOST}\",\"port\":${DB_PORT},\"dbname\":\"{{ db_name }}\",\"dbInstanceIdentifier\":\"{{ db_identifier }}\"}"
SECRET_ID="{{ db_identifier_path }}/root"
SECRET_DESCRIPTION="{{ db_identifier }}-Root"

aws secretsmanager describe-secret \
  --secret-id "${SECRET_ID}"

if [ $? -eq 0 ]; then
    aws secretsmanager put-secret-value \
        --secret-id "${SECRET_ID}" \
        --secret-string "${SECRET_STRING}"
    if [ $? -eq 0 ]; then
        echo "SUCCESS" > AWSSMUPLOADOUTPUT
    else
        echo "FAILED" > AWSSMUPLOADOUTPUT
    fi
else
    aws secretsmanager create-secret \
        --name "${SECRET_ID}" \
        --description "${SECRET_DESCRIPTION}" \
        --secret-string "${SECRET_STRING}"
    if [ $? -eq 0 ]; then
        echo "SUCCESS" > AWSSMUPLOADOUTPUT
    else
        echo "FAILED" > AWSSMUPLOADOUTPUT
    fi
fi