output "apsara_db_identifier" {
    value = "${var.identifier}"
}

output "apsara_db_id" {
    value = "${var.apsara_db_instance_id}"
}

output "apsara_db_port" {
    value = "${var.apsara_db_instance_port}"
}

output "apsara_db_host" {
    value = "${var.apsara_db_instance_host}"
}

output "apsara_db_database_name" {
    value = "${var.apsara_db_instance_database_name}"
}

output "apsara_db_user" {
    value = "${var.apsara_db_instance_username}"
}
