#!/bin/bash
set -e
source /home/vault/vault.init-local

{% if vault_cluster.cluster.location == 'local' %}
export PKICTL_ROOT_LOGIN_FILE={{ context_directory }}/.login/PKICTL.login.root-local-{{ target }}.dev
rm -f $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT=root-local" > $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_LOGIN_METHOD=root-local" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_HOST={{ vault_cluster.protocol }}://{{ machine_ip }}:{{ member.port }}" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_TLS_ENABLED={{ vault_cluster.tls.enabled | lower }}" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_TLS_CACERT={{ member.trusted_ca_file }}" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_TLS_CERT={{ member.cert_file }}" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_TLS_KEY={{ member.key_file }}" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_TOKEN=$VAULT_TOKEN" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_TOKEN_DURATION=-1" >> $PKICTL_ROOT_LOGIN_FILE
echo "export PKICTL_CONTEXT_TOKEN_EXPIRATION=-1" >> $PKICTL_ROOT_LOGIN_FILE
chmod 744 $PKICTL_ROOT_LOGIN_FILE
cp $PKICTL_ROOT_LOGIN_FILE {{ context_directory }}/.login/.current
{% endif %}