#!/bin/bash
source /home/vault/vault.init-local
export VAULT_ADDR={{ vault_cluster.protocol }}://{{ machine_ip }}:{{ member.port }}
{% if vault_cluster.tls.enabled %}
export VAULT_CACERT={{ member.trusted_ca_file }}
export VAULT_CLIENT_CERT={{ member.cert_file }}
export VAULT_CLIENT_KEY={{ member.key_file }}
{% endif %}
echo $VAULT_UNSEAL_KEY_1
{{ vault_binary_directory }}/vault operator unseal $VAULT_UNSEAL_KEY_1
echo $VAULT_UNSEAL_KEY_2
{{ vault_binary_directory }}/vault operator unseal $VAULT_UNSEAL_KEY_2
echo $VAULT_UNSEAL_KEY_5
{{ vault_binary_directory }}/vault operator unseal $VAULT_UNSEAL_KEY_5