#!/bin/bash
JQ=./.bin.db/jq

DB_HOST=$(cat apsara_db.json | $JQ -r .apsara_db_host.value)
DB_PORT=$(cat apsara_db.json | $JQ -r .apsara_db_port.value)
# CONNECTION_STRING="postgresql://{{ db_generated_user }}:{{ db_generated_password }}@${DB_HOST}:${DB_PORT}/{{ db_name }}"
CONNECTION_STRING="postgresql://{{ db_generated_user }}:{{ db_generated_password }}@127.0.0.1:{{ db_ssh_tunnel_port }}/{{ db_name }}?sslmode=disable"

YQ_EXEC=./.bin.db/yq
VAULT_EXEC=./.bin.db/vault

export VAULT_ADDR="{{ secrets.vault.host }}"
{% if secrets.vault.tls.enabled %}
export VAULT_CACERT={{ dbctl_vault_ca_cert_file }}
export VAULT_CLIENT_CERT={{ dbctl_vault_cert_file }}
export VAULT_CLIENT_KEY={{ dbctl_vault_key_file }}
export VAULT_TOKEN={{ dbctl_vault_token }}
{% endif %}

$VAULT_EXEC secrets list -format=yaml > vault.secrets.list.yaml

DB_SECRET_ENGINE_v11=$($YQ_EXEC r vault.secrets.list.yaml "[{{ v11_db_identifier_path }}/]")
if [[ $DB_SECRET_ENGINE_v11 == "null" ]]; then
    echo "[DBCTL] Enabling secrets - v1.1"
    $VAULT_EXEC secrets enable -path={{ v11_db_identifier_path }} database
fi

echo "[DBCTL] Configuring secrets v11 - path: {{ v11_db_identifier_path }}/config/root"
$VAULT_EXEC write {{ v11_db_identifier_path }}/config/root \
  plugin_name=postgresql-database-plugin \
  allowed_roles="*" \
  connection_url="${CONNECTION_STRING}" \
  verify_connection=false

if [ $? -eq 0 ]; then
    echo "[DBCTL] v11 - Generating role configuration script for migrations using DB {{ v11_db_identifier_path }}/config/root"
    $VAULT_EXEC write {{ v11_db_identifier_path }}/roles/migrations \
        db_name=root \
        creation_statements=@"{{ db_directory }}/sql/__roles__/migrations/creation.sql" \
            default_ttl="1h" \
            max_ttl="24h"

    echo "SUCCESS" > VAULTUPLOADOUTPUT
else
    echo "FAILED" > VAULTUPLOADOUTPUT
fi
