<?php
// HTTP
{% raw %}
define('HTTP_SERVER', 'http://{{ host }}{% if port %}:{{ port }}{% endif %}/');

// HTTPS
define('HTTPS_SERVER', 'http://{{ host }}{% if port %}:{{ port }}{% endif %}/');
{% endraw %}

// DIR
define('DIR_APPLICATION', '{{ build_directory }}/catalog/');
define('DIR_SYSTEM', '{{ build_directory }}/upload/system/');
define('DIR_IMAGE', '{{ build_directory }}/upload/image/');
define('DIR_LANGUAGE', '{{ build_directory }}/upload/catalog/language/');
define('DIR_TEMPLATE', '{{ build_directory }}/upload/catalog/view/theme/');
define('DIR_CONFIG', '{{ build_directory }}/upload/system/config/');
define('DIR_CACHE', '{{ build_directory }}/upload/system/storage/cache/');
define('DIR_DOWNLOAD', '{{ build_directory }}/upload/system/storage/download/');
define('DIR_LOGS', '{{ build_directory }}/upload/system/storage/logs/');
define('DIR_MODIFICATION', '{{ build_directory }}/upload/system/storage/modification/');
define('DIR_UPLOAD', '{{ build_directory }}/upload/system/storage/upload/');

// DB
{% raw %}
define('DB_DRIVER', 'mysqli');
define('DB_HOSTNAME', 'localhost');
define('DB_USERNAME', '{{ db_username }}');
define('DB_PASSWORD', '{{ db_password }}');
define('DB_DATABASE', 'opencartv2');
define('DB_PREFIX', 'oc_');
define('DB_PORT', '3306');
{% endraw %}
