buildscript {
  repositories {
    mavenCentral()
  }

  dependencies {
    classpath group: 'mysql', name: 'mysql-connector-java', version: '8.0.16'
  }
}

plugins {
    id "org.flywaydb.flyway" version "5.2.4"
}

flyway.sqlMigrationPrefix = ''
flyway.locations = ['filesystem:{{ db_schema }}']

// TODO: manually advance this.
flyway.target = '2030.12.31.9999'    //Fix flyway target to given schema version. Change this to migrate further.
flyway.baselineOnMigrate = true
flyway.user = '{{ db_migration_username }}'
flyway.url = 'jdbc:mysql://{{ db_host }}/{{ db_name }}?serverTimezone=UTC'
flyway.password = '{{ db_migration_password }}'
