db:
  deployment: "{{ db_deployment }}"
{%- if db_environment == "dev" %}
  {% if db_deployment == "hosted" %}  
  hosted:
    db_host: "{{ db_host }}"
    db_provider_root_credential:
      username: "{{ db_admin_credentials[0].username }}"
      password_length: 32
  {% endif %}
{% else %}
  {% if db_deployment == "hosted" %}
  hosted:
    db_host: "{{ db_host }}"
    db_provider_root_credential:
      username: "{{ db_admin_credential }}"
      password_length: 32
  {% endif %}
{% endif %}

{% if db_environment == "dev" %}
secrets:
  vault:
    host: "https://localhost:8200"
    tls: 
      enabled: true
      certs_bundle: dbctl-dev
{% endif %}