variable "identifier" {}

variable "db_organization" {}
variable "db_team" {}
variable "db_product" {}
variable "db_environment" {}

variable "apsara_db_instance_id" {}
variable "apsara_db_instance_host" {}
variable "apsara_db_instance_port" {}
variable "apsara_db_instance_username" {}
variable "apsara_db_instance_password" {}
variable "apsara_db_instance_database_name" {}
