output "gcp_db_identifier" {
    value = "db-${var.db_product}-${var.gcp_db_database_name}-${var.db_environment}"
}

output "gcp_db_connection_name" {
    value = "${google_sql_database_instance.gcp_db_instance.connection_name}"
}

output "gcp_db_private_ip" {
    value = "${google_sql_database_instance.gcp_db_instance.private_ip_address}"
}

output "gcp_db_private_port" {
    value = "5432"
}

{% if db.gcp.db_provider_option.public_connection.enabled %}
output "gcp_db_public_ip" {
    value = "${google_sql_database_instance.gcp_db_instance.public_ip_address}"
}

output "gcp_db_public_port" {
    value = "5432"
}
{% endif %}

output "gcp_db_database_name" {
    value = "${var.gcp_db_database_name}"
}

output "gcp_db_user" {
    value = "${var.gcp_db_username}"
}
