apiVersion: apps/v1
kind: Deployment

metadata:
  name: "{{ service_name }}-deployment"
  labels:
    app: "{{ service_name }}"

spec:
  replicas: 1

  selector:
    matchLabels:
      app: "{{ service_name }}"

  template:
    metadata:
      labels:
        app: "{{ service_name }}"
        cermati.k8s.cicd/deployment_date: "{{ deployment_date }}"
        cermati.k8s.cicd/deployer: "{{ deployer }}"
        cermati.k8s.cicd/version: "{{ version }}"
        cermati.k8s.logging/parser: nodejs_cermati-utils_v1
        cermati.k8s.logging/namespace: "service-{{ organization }}-{{ team }}-{{ product }}"
        cermati.k8s.logging/exclude: "false"
        cermati.k8s.service/organization: "{{ organization }}"
        cermati.k8s.service/team: "{{ team }}"
        cermati.k8s.service/product: "{{ product }}"

    spec:
      containers:
        - name: "{{ service_name }}"
          image: "{{ repository }}/{{ service_name }}:{{ version }}"
          imagePullPolicy: Always
