resource "aws_security_group" "rds_db_security_group" {}

resource "aws_security_group_rule" "rds_db_security_group_ingress" {}

resource "aws_security_group_rule" "rds_db_security_group_egress" {}

resource "aws_db_subnet_group" "rds_db_subnet_group" {}

resource "aws_db_parameter_group" "rds_db_parameter_group" {}

resource "aws_db_instance" "rds_db_instance" {}