variable "identifier" {}

variable "db_organization" {}
variable "db_team" {}
variable "db_product" {}
variable "db_environment" {}

variable "apsara_db_vpc" {}
variable "apsara_db_vpc_vswitch" {}
variable "apsara_db_instance_class" {}
variable "apsara_db_instance_database_name" {}
variable "apsara_db_instance_engine" {}
variable "apsara_db_instance_engine_version" {}
variable "apsara_db_instance_username" {}
variable "apsara_db_instance_password" {}
variable "apsara_db_instance_storage_size" {}
variable "apsara_db_instance_security_ips" {
  type = "list"
}