variable "identifier" {}

variable "db_organization" {}
variable "db_team" {}
variable "db_product" {}
variable "db_environment" {}

variable "gcp_db_instance_name" {}

variable "gcp_db_project_id" {}
variable "gcp_db_region" {}
variable "gcp_db_vpc" {}
variable "gcp_db_vpc_subnet" {}
variable "gcp_db_instance_tier" {}
variable "gcp_db_instance_storage_size" {}
variable "gcp_db_username" {}
variable "gcp_db_password" {}
variable "gcp_db_database_name" {}
variable "gcp_db_database_version" {}
variable "gcp_db_authorized_network_address" {
  type = "list"
}
variable "gcp_db_authorized_network_name" {
  type = "list"
}