<?xml version="1.0"?>
<config>
    <modules>
        <Indodana_Payment>
            <version>0.0.1</version>
        </Indodana_Payment>
    </modules>

    <global>
        <helpers>
            <indodanapayment>
                <class>Indodana_Payment_Helper</class>
            </indodanapayment>
        </helpers>

        <blocks>
            <indodanapayment>
                <class>Indodana_Payment_Block</class>
            </indodanapayment>
        </blocks>

        <models>
            <indodanapayment>
                <class>Indodana_Payment_Model</class>
            </indodanapayment>
        </models>
    </global>

    <default>
        <payment>
            <indodanapayment>
                <model>indodanapayment/standard</model>
                <active>1</active>
                <title>Indodana</title>
                <order_status>pending</order_status>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
                <environment>sandbox</environment>
            </indodanapayment>
        </payment>
    </default>

    <frontend>
        <events>  
            <payment_method_is_active>
                <observers>
                    <indodanapayment>
                        <type>singleton</type>
                        <class>Indodana_Payment_Model_Observer</class>
                        <method>disable</method>
                    </indodanapayment>
                </observers>
            </payment_method_is_active>
        </events>
        <routers>
            <indodanapayment>
                <use>standard</use>
                <args>
                    <module>Indodana_Payment</module>
                    <frontName>indodanapayment</frontName>
                </args>
            </indodanapayment>
        </routers>
    </frontend>
</config>