<config>
    <sections>
        <payment>
            <groups>
                <indodanapayment translate="label">
                    <label>Indodana Payment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading_account translate="label">
                            <label>Indodana Settings</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_account>
                        <title translate="label">
                            <label>Title</label>
                            <config_path>payment/indodanapayment/title</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>                        
                        <active translate="label">
                            <label>Enabled</label>
                            <config_path>payment/indodanapayment/active</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <order_status translate="label">
                            <label>Successful Payment Order Status</label>
                            <config_path>payment/indodanapayment/order_status</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <order_status_failed translate="label">
                            <label>Failed Payment Order Status</label>
                            <config_path>payment/indodanapayment/order_status_failed</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_failed>
                        <api_key translate="label">
                            <label>API Key</label>
                            <config_path>payment/indodanapayment/api_key</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                        <api_secret translate="label">
                            <label>API Secret</label>
                            <config_path>payment/indodanapayment/api_secret</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_secret>
                        <environment translate="label">
                            <label>Environment</label>
                            <config_path>payment/indodanapayment/environment</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>Indodana_Payment_Model_System_Config_Source_Environment</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </environment>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <config_path>payment/indodanapayment/sort_order</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>            
                        </sort_order>
                    </fields>
                </indodanapayment>
            </groups>
        </payment>
    </sections>
</config>
