[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=1048576
TimeoutStartSec=0
ExecStart={{ etcd_binary_directory }}/etcd --config-file {{ etcd_config_directory }}/{{ target }}.conf.yml

[Install]
WantedBy=multi-user.target