#!/bin/bash
ETCDCTL_API=3 \
ETCDCTL_CACERT={{ member.trusted_ca_file }} \
ETCDCTL_CERT={{ member.client_cert_file }} \
ETCDCTL_KEY={{ member.client_key_file }} \
ETCDCTL_ENDPOINTS={{ etcd_cluster.protocol }}://{{ machine_ip }}:{{ member.client_urls_port }} \
{{ etcd_binary_directory }}/etcdctl "$@"